force-app/main/default/flows/Pardot_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Can_a_matching_Account_be_found</name>
        <label>Can a matching Account be found?</label>
        <locationX>414</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Matching_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_using_Matching_Account</targetReference>
            </connector>
            <label>Matching Account Found</label>
        </rules>
        <rules>
            <name>No_Matching_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account_No_Match</targetReference>
            </connector>
            <label>No Matching Account Found</label>
        </rules>
    </decisions>
    <interviewLabel>Pardot Contact  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pardot Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Account_No_Match</name>
        <label>Create New Account - No Match</label>
        <locationX>408</locationX>
        <locationY>258</locationY>
        <assignRecordIdToReference>NewlyCreatedAccount</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_with_NEW_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContactFromPB.Company__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Matching_Accounts</name>
        <label>Lookup Matching Accounts</label>
        <locationX>226</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_a_matching_Account_be_found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactFromPB.Company__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MatchingAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_using_Matching_Account</name>
        <label>Update Contact using Matching Account</label>
        <locationX>610</locationX>
        <locationY>161</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactFromPB.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MatchingAccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_NEW_Account</name>
        <label>Update Contact with NEW Account</label>
        <locationX>413</locationX>
        <locationY>363</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactFromPB.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NewlyCreatedAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Lookup_Matching_Accounts</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactFromPB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>MatchingAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>NewlyCreatedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
